/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Caprasimo&family=Fugaz+One&family=Lato:wght@300&family=Monoton&family=Nanum+Pen+Script&family=Oswald:wght@200;300;400;500;600;700&family=Reenie+Beanie&display=swap');



/* Asterisk wildcard selector to override default styles added by the browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* general porject style */
    color: #3a3a3a;
    font-family: 'Nanum Pen Script', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Belanosima', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    color: #121323;
}

h5 {
    color: #373735;
}

p {
    padding-bottom: 10px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


h1:hover {
    color: #ff9100;

}

#menu li {
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
}

#menu a:hover {
    color: #ff9100;
    text-decoration: underline;
}

.active {
    color: #ff9100;
    text-decoration: underline;
}

#nav-toggle:checked~nav {
    text-decoration: underline;
    color: #ff9100;
}

#menu {
    font-size: 110%;
    list-style-type: none;

}

/* nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
    top: 100%;
}

.nav-toggle-label {
    font-size: 3rem;
    width: 20%;

}

.nav-toggle-label i:hover {
    color: #ff9100;
}



/* Footer general */

#social-networks a:hover {
    color: #ff9100;
}

/* Main content */
main {

    /* make main element take up any surplus space to push footer down */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 55px;
    font-size: 150%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../images/expbk03.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;

}

/* index page */


#cover-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}



#cover-text {
    font-size: 50%;
    bottom: 0;

}



#cover-text h3 {
    padding: 1em;
    font-size: 99%;
    color: #3a3a3a;
}

#cover-photo {
    background-image: url("../images/Profile.JPG");
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 20%;
    margin: 30px;
    align-self: center;
}

#cover-text {
    left: 50%;
    top: 45%;
    padding: 10px 20px;
}

/* aboutme page */

#aboutme-main {
    padding-top: 45px;
}

#aboutme-child {
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    padding-top: 45px;
    padding-left: 40px;
}

#aboutme-photo {
    background: url("../images/aboutme.jpg") no-repeat center center/cover;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    align-self: flex-end;
}

#aboutme-child h4 {
    padding-bottom: 10px;
}




/*experience page */

#exp-sec {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;

}


#exp-sec h5 {
    padding: 15px 0;

}

#exp-div li,
#edu-div li {
    list-style-type: none;

}

#exp-div h4 {
    padding-top: 30px;
}




/* portfolio page */


#por-div {
    padding: 1em;
}


#por-sec {
    width: 100%;
}

#project_item1 {
    background-image: url("../images/Mockup.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 250px;


}

/* get in touch page */

#get-main {
    padding: 10px;
}

#msg {
    width: 100%;
}


#msg-form {
    padding: 35px 50px;
    flex-grow: 1;
}

.text-input {
    padding-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #3a3a3a;
    width: 100%;
    height: 25px;
}


.msg-me {
    margin-top: 20px;
}

.msg-button {
    font-size: 100%;
    border-radius: 5px;
    padding: 9px 25px;
    margin: 10px;
    background-color: #ffffff;
    color: #121323;
}

textarea {
    width: 100%;
}


#button {
    position: inherit;
}


iframe {
    width: 100%;
}

#frame {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}



/*Footer*/

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style-type: none;

}

#social-networks i {
    font-size: 30px;
    padding: 5%;
}

/* Media query: tablets and larger (768px and up ) */
@media screen and (min-width: 768px) {
    header {
        padding: 25px 0 0 0;
    }


    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-left: 1rem;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        margin: 0 0.5rem;
        font-size: 150%;
    }

    /* Main content */


    /* Index page */

    #cover-div {
        width: 100%;
        justify-content: center;
    }

    #cover-sec {
        width: 100%;
        display: flex;
        justify-content: center;
    }



    #cover-text {
        left: 50%;
        top: 50%;
        font-size: 60%;


    }

    #cover-photo {
        background-image: url("../images/Profile.JPG");
        background-size: cover;
        border-radius: 20%;
        margin: 60px;
        justify-content: center;
        width: 45%;
        height: 350px;

    }

    /* experience page */
    #exp-sec {
        padding: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-items: end;
        gap: 10px;

    }

    #exp-div h4 {
        margin-top: -30px;

    }

    /* portfolio page */

    #project_item1 {
        width: 100%;
        height: 450px;
    }

    #por-div {
        padding: 60px;
    }





    /* get in touch page */

    #msg {
        width: 100%;
        background-position: center;
        display: flex;
        flex-direction: row;


    }

    #msg-form {
        position: relative;
        max-width: 400px;
        left: 10%;
    }


    #frame {
        display: flex;
        align-self: center;
        width: 100%;
        height: 500px;
        padding: 30px;

    }
}


/* Media query: laptops and larger (992px and up ) */
@media screen and (min-width:992px) {

    /* general */


    header {
        padding-top: 30px;
        font-size: 25px;

    }

    a i {
        font-size: 30px;
    }

    #menu>li {
        font-size: 2rem;
    }

    main {
        margin-top: 85px;
    }

    /* index page */

    #cover-div {
        width: 100%;
        justify-content: center;
    }


    #cover-text {
        left: 50%;
        top: 65%;
        padding-left: 20px;

    }

    /* about me page */
    #aboutme-child {
        padding: 30px;
    }

    #aboutme-photo {
        max-width: 350px;
        height: 240px;

    }



    /* experience page */

    #exp-sec {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        padding: 60px;

    }

    /* portfolio page */

    #por-div {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 10px;
        padding: 70px;
        grid-gap: 10px;

    }


    /* get in touch page */
    main {
        display: flex;
        flex-direction: row;

    }


    #frame {
        width: 100%;
        display: flex;
        align-self: center;
        height: 500px;

    }


}




/* Media query: laptops and larger (1200px and up ) */
@media screen and (min-width:1200px) {

    /* index page */

    #cover-sec {
        width: 100vw;
    }

    #cover-div {
        justify-content: center;
        padding: 30px;
    }

    #cover-photo {
        width: 50%;
        height: 450px;
    }



    main {
        margin-top: 100px;
    }

    #menu a {
        padding-left: 45px;
    }

    #cover-text {
        font-size: 70%;
    }



    #aboutme-photo {
        max-width: 350px;
        height: 260px;
    }

    /* experience page */

    #exp-sec {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        padding: 60px;

    }

    #edu-div {
        padding: 10px;
    }

    #exp-div {
        padding: 10px 20px 10px 10px;
    }


    /* portfolio */



    #por-div {
        padding: 70px;
    }

    #project_item1 {
        width: 95%;
        height: 500px;

    }


    /* get in touch page */

    #msg-div {
        flex-shrink: 1;
    }

    #frame {
        flex-grow: 2;
    }

}