/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Caprasimo&family=Fugaz+One&family=Lato:wght@300&family=Monoton&family=Nanum+Pen+Script&family=Oswald:wght@200;300;400;500;600;700&family=Reenie+Beanie&display=swap');



/* Asterisk wildcard selector to override default styles added by the browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* general porject style */
    color: #3a3a3a;
    font-family: 'Nanum Pen Script', cursive;
}

/* Header */
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Belanosima', sans-serif;

}

/* Main content */
main {
    background-color: lightblue;
    /* make main element take up any surplus space to push footer down */
    /* shorthand: flex:1 0 auto; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

/*Footer*/
footer {
    background-color: orange;
}